body{
    font-family: 'ProximaNova', Arial;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
    margin-bottom: 5px;
}

input:focus, select:focus, textarea:focus{outline:none !important}

/* HEADER-INFO */
.header-info{
    margin: 20px 0;
}

.header-info__callback, .header-info__order{
    text-align:center
}

.header-info__callback-link, .header-info__order-link{
    display: inline-block;
    padding:10px 25px;
    min-width: 85%;
    border-radius:40px
}

.header-info__callback-link{
    color: #333;
    background: #fff;
    border: 1px solid #333;
}

.header-info__callback-link:hover, .header-info__order-link:hover{
    background: #333;
    color:#fff;
    border:1px solid #333;
    text-decoration: none;
}

.header-info__order-link{
    color:#fff;
    background: #e05257;
    border:1px solid #e05257
}

.header-info__control{
    padding: 20px 40px;
    text-align:right;
}

.header-info__control-link{
    display:inline-block;
    color:#2b73b3
}

.header-info__control-link:hover{
    text-decoration:none
}

.header-info__control-txt{
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px solid #2b73b3
}

.header-info__contacts{
    text-align:right
}

.header-info__contacts-link{
    font-size: 25px;
    color: rgb(81, 81, 81);
    font-weight: bold;
    line-height: 0;
    margin-bottom: 10px;
}

.header-info__contacts-list{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

.header-info__contacts-item span{
    border-bottom:1px solid #333;
    font-size: 15px;
    /* font-family: "Myriad Pro"; */
    color: rgb(81, 81, 81);
}

.header-info__contacts-item:after{
    content: "\00B7";
    display: inline-block;
    padding:0 5px;
    font-size:18px;
    color:#333
}

.header-info__contacts-item:last-child:after{
    display: none;
}

.header-info__contacts-lang{
    padding:15px 0
}

.header-info__contacts-lang-link{
    font-size: 15px;
    color: rgba(81, 81, 81, 0.502);
    line-height: 0.832;
}

.header-info__contacts-lang-link:hover{
    text-decoration: none;
    color:#2b73b3
}

/* HEADER-MENU */
.header-menu{
    background: #f1f1f1
}

.header-menu .navbar, .header-menu .navbar-nav{
    width: 100%;
}

.header-menu .navbar-nav{
    padding:0 10px;
    justify-content: space-between;
}

.header-menu .nav-link{
    font-size: 14px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.78;
    font-weight:bold
}

.header-menu .nav-link:hover{
    text-decoration: none;
    color:#2b73b3
}

/* HEADER FILTER */

.header-filter{
    padding:20px 0;
    background: rgba(0, 44, 83, 0.502);
}

.header-filter__wrap{
    margin:0 auto
}

.header-filter__params{
    margin-bottom: 15px;
}

.header-filter__params-select, .header-filter__search span{
    display: inline-block;
    padding:8px 15px;
    border-radius:40px;
    max-width: 200px;
    min-width: 200px
}

.header-filter__search span{
    background: #f8c73f;
    color: #333;
}

.header-filter__region, .header-filter__sanatoium, .header-filter__search{
    text-align:center
}

/* HEADER FILTER */
.header-filter-cities-list{
    display: flex;
    margin-left:40px;
    word-break: break-word;
}

.header-filter-cities-item{
   margin-right:10px
}

.header-filter-cities-link{
    color:#fff
}
.header-filter-cities-link:hover{
    text-decoration:none;
}

.header-filter__search-form{
    position:relative
}

.header-filter__search-btn{
    position:absolute;
    right:50px;
    top:8px;
    background: transparent;
    border:0;
}

.header-filter__search-input{
    display: inline-block;
    padding:8px 15px;
    border-radius:40px;
    max-width: 200px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.702);
    color: #333;
    border:0
}

.header-filter__search-input::placeholder{
    color:#2b73b3
}

/* HEADER BANNER */

.header-bottom{
    position:relative;
}

.header-filter{
    width: 100%;
    position:absolute;
    top:0;
    z-index:10;
}

.header-filter__banner-img{
    width: 100%;
}


/* SECTION CONTENT */

.content{
    padding: 40px 0;
}

/* BEST */

.content-best__title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}

.content-best__container{
    padding:0
}

.content-best__card{
    border-radius: 19px;
    background-color: rgb(241, 241, 241);
}

.content-best__info{
    padding:15px 25px 25px 25px
}

.content-best__name{
    font-size: 16px;
    font-weight:bold;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
}

.content-best__city {
    font-size: 16px;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
}

.content-best__list{
    padding: 0;
    margin: 0;
    list-style:none;
    text-align: center;
    margin-bottom: 10px;
}

.content-best__el{
    display:flex;
    margin-bottom: 5px;
}

.content-best__el-txt{
    display: inline-block;
    width: 50%;
}

.content-best__link{
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    color:#fff;
    background-color: #9ebc53;
    border-radius:40px;
    text-align: center;
}

.content-best__link:hover{
    background: #8ca64a;
    color:#fff;
    text-decoration:none
}

.content-best__carousel .owl-nav{
    text-align:center;
    padding: 20px 0;
}

.content-best__carousel .owl-nav button{
    font-size:40px !important;
    color: #8ca64a !important;
    line-height:20px !important;
    width:40px;
    height:40px;
    margin: 0 25px;
    border-radius:50%;
    border:1px solid #8ca64a !important;
}

.content-best__carousel .owl-nav button.disabled{
    font-size:40px !important;
    color: #cdcdcd !important;
    line-height:0px !important;
    width:40px;
    height:40px;
    margin: 0 25px;
    border-radius:50%;
    border:1px solid #cdcdcd !important;
}

.content-best__carousel .owl-nav button:focus{
    outline:none !important
}

/* REQUEST */

.content-request{
    margin-bottom: 80px;
}

.content-request__container:after{
    position:absolute;
    content: "Перезвоним в течении 1 минуты";
    bottom:-30px;
    right:0;
    font-size: 14px;
    color: rgb(81, 81, 81);
}

.content-request__container{
    position:relative;
    background: #9bb755;
    padding:20px 25px;
    margin-bottom: 40px;
}

.content-request__row{
    align-items:center
}

.content-request__title{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.content-request__form{
    display:flex;
    justify-content: flex-end;
}

.content-request__input{
    width:250px;
    border:0;
    padding:8px 0 8px 15px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}

.content-request__btn{
    width:200px;
    border:0;
    background-color: rgb(248, 199, 63);
    padding:8px 0;
    border-radius: 40px;
    color: #333
}

/* SLIDER */
.content-slider{
    margin: 40px 0 20px 0;
}

.content-slider__container{
    padding:0
}

.content-slider__item{
    position:relative;
}

.content-slider__title {
    position: absolute;
    bottom: 15px;
    right: 20px;
    text-align: right;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.content-slider .owl-dots{
    padding:10px 0;
    text-align: center;
}

.content-slider .owl-dots button{
    width:10px;
    height:10px;
    margin:5px;
    background: #e2e2e2 !important;
    border-radius:50%
}

.content-slider .owl-dots button:focus{
    outline:0
}

.content-slider .owl-dots button.active{
    background: #b9b9b9 !important;
}

.content-slider__title.dark{
    color:#333
}

/* OPTIONS */

.content-options__wrap{
    margin:30px auto
}

.content-options__item{
    text-align: center;
}

.content-options__icon{
    width: 100px;
    height: 100px;
    border-radius:50%;
    line-height: 100px;
    background: #9ebc53;
    text-align:center;
    margin:10px auto 15px auto
}


.content-options__title{
    font-size: 16px;
    color: rgb(81, 81, 81);
    line-height: 1.812;
    text-align: center;
}

/* ABOUT */
.content-about{
    margin: 30px 0
}

.content-about__title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}

.content-about__img{
    width:100%;
    height:auto
}

.content-about__quote{
    font-size: 100px;
    font-family: "Rubik";
    color: rgb(158, 188, 83);
    line-height: .2;
    font-style: italic;
    margin-top: 25px;
}

.content-about__txt-str{
    font-size: 16px;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    margin-top: 10px;
}

/* ORDER */
.content-order{
    margin:30px 0;
    padding:30px 0;
    background: #f6f6f6;
}

.content-order__wrap{
    margin: 0 auto;
    padding:30px 0
}

.content-order__title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}

.content-order__container{
    background: #e2e2e2;
    padding: 0;
}

.content-order__row{
    align-items: center;
}

.content-order__list-el{
    margin-bottom: 20px;
    padding: 0 15px;
}

.content-order__list-select{
    background: transparent;
    width: 100%;
    height:42px;
    padding: 8px 15px;
    border:0;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(images/footer/down-arrow.png) no-repeat top 15px right 20px transparent;
    max-width:300px
}

.content-order__list .content-order__list-input, .content-order__list .content-order__list-select,  .content-order__list .content-order__list-date{
    width: 100%;
    height:42px;
    border-radius:40px;
    border: 1px solid #000;
    padding: 8px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.content-order__list .content-order__list-select{
    background: url(images/footer/down-arrow.png) no-repeat top 15px right 20px #fff;
}

.content-order__textarea{
    width: 100%;
    height: 166px;
    border-radius:10px;
    border:1px solid #000;
    resize:none;
    margin-top: -10px;
    padding:8px 15px
}

.content-order__send{
    text-align: right;
}

.content-order__list-submit{
    color: #fff;
    background: #e05257;
    border: 1px solid #e05257;
    display: inline-block;
    padding: 10px 25px;
    width:100%;
    max-width:300px;
    border-radius: 40px;
}

/* REVIEWS */
.content-reviews{
    margin: 30px 0;
}

.content-reviews__title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}

.content-reviews__quote{
    font-size: 100px;
    font-family: "Rubik";
    color: rgb(158, 188, 83);
    line-height: .2;
    font-style: italic;
    margin-top: 25px;
    margin-left:-20px
}

.content-reviews__txt{
    font-size: 15px;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    margin-bottom: 10px;
}

.content-reviews__author{
    font-size: 15px;
    font-weight:bold;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: right;
}

.content-reviews__all{
    text-align: right;
}

.content-reviews__link{
    font-size: 15px;
    color: rgb(29, 106, 174) !important;
    text-decoration: underline;
    line-height: 1.933;
}

/* MANAGER */
.content-manager{
    margin: 30px 0
}

.content-manager__list{
    margin: 0 auto;
    border:1px solid #cdcdcd;
    padding:25px 0
}

.content-manager__item:first-child{
    border-right: 1px solid #cdcdcd;
}

.content-manager__card{
    width: 80%;
    margin: 0 auto;
}

.content-manager__img{
    border-radius:50%;
    margin-right: 15px;
}

.content-manager__img img{
    width: 100%;
}

.content-manager__name{
    font-size: 16px;
    font-weight:bold;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    margin-bottom: 10px;
}

.content-manager__city{
    font-size: 16px;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    margin-bottom: 10px;
}

.content-manager__button{
    width: 200px;
    border: 0;
    background-color: rgb(248, 199, 63);
    padding: 8px 0;
    border-radius: 40px;
    color: #333;
    text-align:center
}

.content-manager__desc{
    padding: 10px 0;
}

/* OFFERS */

.content-offers{
    margin: 30px 0;
}

.content-offers__title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
}

.content-offers__item-el{
    list-style:disc;
    color:#9ebc53
}

.content-offers__item-link{
    text-decoration:none;
    font-size: 16px;
    color: rgb(81, 81, 81);
    line-height: 1.75;
}

.content-offers__item-link:hover{
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-weight:bold
}

/* INFO */
.content-info{
    margin: 30px 0;
}

.content-info__item-title{
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    line-height: 1.125;
    text-align: center;
    margin-bottom: 15px;
}

.content-info__item-img{
    width: 100%;
}

.content-info__item-desc{
    margin-top: 15px;
    min-height:36px;
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.125;
}

.content-info__item:last-child .content-info__item-desc{
    text-align: center;
}

.content-info__item-link{
    float:right;
    font-size: 14px;
    color: rgb(2, 100, 159);
    text-decoration: underline;
    line-height: 1.362;
}

/* SEO */
.content-seo{
    overflow: hidden;
    margin: 30px 0;
    padding: 30px 0;
    background: #f6f6f6;
}

.content-seo__title{
    font-size: 25px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 15px;
    font-weight:bold
}

.content-seo__subtitle{
    font-size: 20px;
    color: rgb(81, 81, 81);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}

.content-seo__txt{
    text-align: justify;
    font-size: 16px;
    color: rgb(80, 80, 80);
}

.content-seo__link{
    float: right;
    font-size: 14px;
    color: rgb(2, 100, 159);
    text-decoration: underline;
}

/* SUBSCRIBE */
.content-subscribe{
    margin: 30px 0;
}

.content-subscribe__container{
    background: #9bb755;
    padding:20px 25px;
    margin-bottom: 40px;
}

.content-subscribe__row{
    align-items:center
}

.content-subscribe__title{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.content-subscribe__form{
    display:flex;
    justify-content: flex-end;
}

.content-subscribe__input{
    width:250px;
    border:0;
    padding:8px 0 8px 15px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}

.content-subscribe__btn{
    width:200px;
    border:0;
    background-color: rgb(248, 199, 63);
    padding:8px 0;
    border-radius: 40px;
    color: #333;
    margin-right: 15px;
}

/* MENUS */
.content-menus{
    margin: 30px 0;
}

.content-menus__item-title{
    font-size: 16px;
    color: rgb(81, 81, 81);
    font-weight:bold;
    text-transform: uppercase;
    line-height: 1.875;
    margin-bottom: 5px;
}

.content-menus__row{
    text-align: center;
}

.content-menus__item-link{
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.content-menus__item-link:hover{
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-weight: bold;
}

/* CALL */
.content-call{
    margin: 30px 0 0;
}

.content-call__wrap{
    margin: 0 auto;
    padding: 20px;
    border:1px solid #cdcdcd;
}

.content-call__row{
    align-items: center;
}

.content-call__right-list{
    display: flex;
    align-items: center;
}

.content-call__title{
    font-size: 20px;
    font-weight:bold;
    color: rgb(81, 81, 81);
    line-height: 1.2;
}

.content-call__right-phone{
    font-size: 22px;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.154;
    margin-right: 30px;
}

.content-call__right-phone:hover{
    text-decoration:none;
    color: rgb(81, 81, 81);
}

.content-call__right-phone img{
    margin-right: 10px;
}

.content-call__right-btn{
    color: #fff;
    background: #e05257;
    border: 1px solid #e05257;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 40px;
}

.content-call__right-btn:hover{
    background: #333;
    color: #fff;
    border: 1px solid #333;
    text-decoration: none;
}

/* GALLERY */
.content-gallery{
    display: flex;
    max-height:450px;
    overflow:hidden;
    margin: 40px 0;
}

.gallery-item img{
    width: 100%;
    height:auto
}

.gallery-item.small{
    width:20%
}

.gallery-item.full{
    width:30%
}

.footer{
    padding:20px 0
}

/* FOOTER TOP */

.footer-top{
    margin-bottom: 25px;
}

.footer-top__item-title{
    font-size: 14px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    line-height: 1.875;
    text-align: center;

}

.footer-top__item-list{
    text-align: center;
}

.footer-top__item-el{
    margin-bottom: 5px;
}

.footer-top__item-link{
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.footer-top__item-link:hover {
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-weight: bold;
}

/* FOOTER BOTTOM */

.footer-middle{
    margin:15px 0;
    padding:15px 0;
    background: #f6f6f6;
}
.footer-middle__social-list{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.footer-middle__social-item{
    margin-right: 5px;
}

.footer-middle__item:nth-child(2){
    text-align: center;
}

.footer-middle__widget-img{
    text-align:right
}
Л
.footer-middle__widget-img img{
    width:70%
}

.footer-bottom{
    text-align:center
}

.footer-bottom__text-str{
    font-size: 14px;
    color: rgb(80, 80, 80);
    line-height: 1.2;
    margin-bottom: 0;
}

.footer-bottom__text-link{
    color: rgb(80, 80, 80);
}

.footer-bottom__text-link:hover{
    text-decoration: none;
    color:#2b73b3
}